---
sidebar: false
---

@import "{{ site.theme }}";

img[alt=icon] {
    width: 1em;
    height: 1em;
    max-width: none;
}

table.skills td:nth-of-type(2) img {
    width: 1.5em;
    height: 1.5em;
    max-width: none;
}

table.skills td:nth-of-type(3) img {
    width: 6.75em;
    height: 1.5em;
    max-width: none;
}

a:hover, a:focus {
  font-weight: normal;
  text-decoration: underline;
}
h1 a:hover, h1 a:focus {
  font-weight: bold;
  text-decoration: underline;
}

th, td {
    padding: 5px 9px;
}
