---
sidebar: false
---

@import "{{ site.theme }}";

img[alt=icon] {
    width: 16px;
    height: 16px;
}

img[alt=topic] {
    width: 24px;
    height: 24px;
}

a:hover, a:focus {
  font-weight: normal;
  text-decoration: underline;
}
h1 a:hover, a:focus {
  font-weight: bold;
  text-decoration: underline;
}
